{% extends 'base.html' %}

{% block title %} Details - {{ student }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="true" href="#">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Classes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Trainer: {{ trainer }}</h5>
                        <a href="{% url 'trainer-list' %}" class="btn btn-primary">Back</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Created at: {{ trainer.created_at|date:'d-m-Y H:i:s' }} | Updated at:{{ trainer.updated_at|date:'d-m-Y H:i:s' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}