<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2 style="color: #333;">Confirmare Creare Cont</h2>
    <p>Bună {{ fullname }},</p>
    <p>Te felicităm! Contul tău a fost creat cu succes.</p>
    <p>Ai acum acces la toate funcțiile platformei noastre.</p>
    <p>Pentru a începe să te bucuri de serviciile noastre, te rugăm să te autentifici cu username-ul
        <strong>{{ username }}</strong>.</p>
    <p>Pentru a accesa aplicația noastră, te rugăm să apeși pe următorul link:</p>
    <p><a href="http://127.0.0.1:8000/login/" style="color: #007bff;">Accesează aplicația</a></p>
    <p>Mulțumim că ai ales să faci parte din comunitatea noastră!</p>
    <br>
    <p>Cu respect,</p>
    <p>Echipa RO59</p>
</div>
</body>
</html>